<p id="notice"><%= notice %></p>
<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>
<strong>Reviews:</strong>
<ul class= "list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <strong> Content:</strong> <%= review.content %>
      <strong> Rating:</strong> <%= review.rating %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %>
